/* Generic */
body{
	font-family: Gibson,HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;;
}

a {
	text-decoration: none;
	color: #007FFF;
	padding: 0 0 .2rem;
	font-weight: 700;
}

code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}

/* Page */
.page {
    z-index: 0;
}

/* Hero */
.hero {
    box-sizing: border-box;
    padding: 2rem;
    /* All the background options are here to allow you to completly edit the hero.
    ** Tip: The hero looks great with a 2000X3000 image.
     */
    background: #FFF;
        background-color: rgb(255, 255, 255);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
    border: 1px solid #FFF;
    border-radius: 2px;
}
.hero-headline {
    font-size: 6rem;
    margin-bottom: 2rem;
}

.hero-copy {
    font-size: 1rem;
    margin-bottom: 0;
    padding: 0 2rem;
    text-align: center;
}
.nav-item {
	padding: 1rem;
	padding-top: .1rem;
}

/* Page Sections */
.page-section {
	padding-top: 3rem;
	padding-bottom: 2rem;
	background: #EEE;
        background-color: rgb(238, 238, 238);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}

/* Buttons */
.button {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    min-width: 11rem;
    padding: 0 4rem;
    margin: 1rem;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #007FFF;
    border-radius: 2px;
    color: #007FFF;
    font-size: 1.25rem;
    transition: background-color,.15s;
}

.button:hover {
    background: #39F;
    border-color: #39F;
    color: #FFF;
    text-shadow: 0 1px #007FFF;
}

.button:active {
    background: #007FFF;
    color: #FFF;
    border-top: 2px solid #06C;
}

/* Image */
.img-fluid {
	width: 100%;
	height: auto;
}

/* Contact Form */
.form-item {
    margin-bottom: .5em;
}

#textarea, input[type=text]{
    background-color: #ffffff;

    border: 2px solid rgba(0, 0, 255, 0.5);
    transition: background-color,.15s;
}

#textarea:focus, input[type=text]:focus {

    border: 2px solid /*#5EADFF*/ rgba(0, 200, 255, 1);
}

/* Class for .between the sections added after a .container-fluid */
.between {
    margin-right: auto;
    margin-left: auto;
    padding-right: 2rem;
    padding-left: 2rem;
    border: none;
    border-top: 1px solid rgba(10, 10, 10, 0.2);
    background: #EEE;
        background-color: rgb(238, 238, 238);
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-clip: border-box;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-size: auto auto;
}

/* Footer */
.page-footer {
    box-sizing: border-box;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.tag {
    color: rgba(100, 100, 100, 0.9);
    font-weight: 500;
    padding-left: .5rem;
}

.tag:hover { 
    color: rgba(0, 0, 0, 1);
}

.link-top {
    align-self: flex-end;
}