/* Navigation Bar */
.nav{
	background-color: rgba(10,10,155,1.0);
	color: rgba(255,255,255,1);
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 1em;
}

/* Desktop Versions of Certain Things */

/* Nav Icon and Nav Items */

.navicon {
    font-size: 2em;
	Content: ;
}

@media (min-width: 768px){
	.navicon{
		display: :none;
	}
}